<% @page_title = "User Login" %>

<div class="login">
  <%= form_tag(:action => 'attempt_login') do %>
    <table align = "center">
      <tr>
        <td><%= label_tag(:username) %></td>
        <td><%= text_field_tag(:username) %></td>
      </tr>
      <tr>
        <td><%= label_tag(:password) %></td>
        <td><%= password_field_tag(:password) %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><%= submit_tag("Log In") %></td>
        <td><button align = 'center'><%= link_to("SIGN UP", {:controller => 'user', :action => 'new'}, :class => 'sign up') %></button></td>
      </tr>
      <% end %>
    </table>
</div>

